*, *::before, *::after {
    box-sizing: border-box;  
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #404040;
    margin: 0;
}

/* =================
    Typography 
   ================= */

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 0 2px #593831;
}

h2 {
    color: #593831;
    font-size: 2.25rem;
    margin: 0.167em 0;
}

.main-content h2 {
    text-align: center;
}

.bottom h4 {
    /* color: #593831; */
    /* color: #A65F46; */
    font-size: 0.75rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

p {
    font-size: 1.125rem;
    line-height: 1.35;
}

.beta-text { 
    font-weight: 900;
}

.subheading {
    color: #A65F46;
    font-weight: 900;
    text-align: center; 
    margin-bottom: 0.5em;
}

.beta-text,
.top-text,
.subheading {
    text-transform: uppercase;
}

.top-text {
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 0.25em;
    border-top: 5px solid;
    order: -1;
    margin: 0 auto;
}

.fine-print {
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #858585;
    text-align: center;
}

/* =================
    Layout
   ================= */

.container {
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    padding: 40px 0 30px 0;
}

/* =================
    Flex containers
   ================= */

.intro,
.main-content {
    display: flex;
    flex-direction: column; 
    padding-left: 2em;
    padding-right: 2em;   
}

/* =================
    Intro
   ================= */

.intro { 
    justify-content: space-between;
    min-height: 250px;
    text-align: center;
    color: whitesmoke;
    background: #593831 url("images/intro-bg-dark.png");
    background-size: cover;
    background-position: center;
    padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */
   
.main-content {
    align-items: center;
    background-color: #F2EBDC;
    padding-top: 2.5em;
}

.img-main {
    width: 120px;
    border-radius: 50%;
}

.main-content p,
form,
.bottom {
    max-width: 450px;
}

/* =================
    Form
   ================= */

form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 100%;
}

input,
button,
textarea {
    font-family: inherit;
    width: 100%; 
    border-radius: 5px;   
}

input,
textarea {
    padding: 0.5em;
    border: 2px solid #d1d5db;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #593831;
    background-color: #e6e8ec;
}

textarea {
    resize: vertical;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1em 1.5em;
    border: none;
    cursor: pointer;
}

.btn-primary {
    color: whitesmoke;
    background-color: #593831;
    margin-top: 1em;    
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #A65F46;
}

/* =================
    Media queries 
   ================= */

/* @media (width <= 575px)  */
@media (max-width: 575px) {
    .main-content {
        padding-bottom: 2.5em;
    }

    .bottom {
        padding: 40px 0 0 0;
    }
}

/* @media (width >= 576px)  */
@media (min-width: 576px) {
    .container {
        display: flex;
    }
    
    h1 {
        font-size: 8vw;
    }
    
    h2 {
        font-size: 2.625rem;
    }
    
    .beta-text {
        font-size: 1.25rem;
    }

    .bottom h4 {
        font-size: 0.8rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
    }
    
    .intro {
        min-height: 100vh;
    }
    
    .main-content {
        justify-content: center;
        padding-top: 0;
    }

    .bottom {
        padding-bottom: 1em;
    }
}